<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>

<mat-vertical-stepper [linear]="isLinear" #stepper>
  <!--Step 1: Groups-->
  <mat-step [stepControl]="selectForm">

    <form [formGroup]="selectForm">
      <ng-template matStepLabel>Choose your group</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Groups</mat-label>
        <mat-select
          formControlName="selectCtrl"
          (change)="onChangeSelect($event)"
        >
          <mat-option>Undefined</mat-option>
          <mat-option
            *ngFor="let studGroup of studGroups"
            [value]="studGroup.value"
          >
            {{studGroup.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>

  </mat-step>
  <!--Step 2: Time-->
  <mat-step [stepControl]="dateTimeForm" state="phone">

    <form [formGroup]="dateTimeForm">
      <mat-form-field>
        <input matInput
               formControlName="dateTimeCtrl"
               placeholder="Time for initialMarker"
               [ngxMatDatetimePicker]="picker"
        >
        <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker
                                 [showSpinners]="true"
                                 [showSeconds]="false"
                                 [stepMinute]="1"
        >
        </ngx-mat-datetime-picker>
      </mat-form-field>
      <ng-template matStepLabel>Choose a date & time</ng-template>
    </form>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>

  </mat-step>
  <!--Step 3: Map-->
  <mat-step state="chat">

    <ng-template matStepLabel>Tag your location</ng-template>
    <app-map></app-map>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>

  </mat-step>
  <!--Step 4: Done-->
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>

    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button (click)="onConfirmStepper()">Confirm</button>
    </div>

  </mat-step>

  <!-- Icon overrides. -->
  <ng-template matStepperIcon="phone">
    <mat-icon>call_end</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="chat">
    <mat-icon>forum</mat-icon>
  </ng-template>
</mat-vertical-stepper>
