<agm-map
  [clickableIcons]="false"
  [disableDefaultUI]="true"
  [latitude]="$any((marker | async)?.lat)"
  [longitude]="$any((marker | async)?.lng)"
  [minZoom]="MIN_ZOOM"
  [zoom]="$any(currZoom | async)"
  (zoomChange)="onZoomChange($event)"
  (mapReady)="mapReadyHandler($event)"
>
  <agm-marker
    [markerDraggable]="$any((marker | async)?.draggable)"
    [latitude]="$any((marker | async)?.lat)"
    [longitude]="$any((marker | async)?.lng)"
    (dragEnd)="onDragEnd($event)"
  >
    <agm-info-window>
      <strong>{{ (marker | async)?.id }}</strong>
    </agm-info-window>
  </agm-marker>
</agm-map>
