<agm-map
  [clickableIcons]="false"
  [disableDefaultUI]="true"
  [latitude]="(marker | async)?.lat || $any(LAT_DEFAULT)"
  [longitude]="(marker | async)?.lng || $any(LNG_DEFAULT)"
  [minZoom]="10"
  [zoom]="14"
>
  <agm-marker
    (dragEnd)="onDragEnd($event)"
    [latitude]="$any((marker | async)?.lat)"
    [longitude]="$any((marker | async)?.lng)"
    [markerDraggable]="$any((marker | async)?.draggable)"
  >
    <agm-info-window>
      <strong>{{ (marker | async)?.id }}</strong>
    </agm-info-window>
  </agm-marker>
</agm-map>
