<div class="mat-elevation-z0">

  <mat-button-toggle-group (change)="onGroupChange($event)"
                           appearance="legacy" fxLayout="row wrap"
                           fxLayoutAlign.gt-sm="start" fxLayoutAlign.lt-md="center">
    <mat-button-toggle *ngFor="let studGroup of (info$ | async)?.groupList"
                       [value]="studGroup.id">
      {{studGroup.groupname}}
    </mat-button-toggle>
  </mat-button-toggle-group>

  <table [dataSource]="dataSource" mat-table>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell> No.</th>
      <td *matCellDef="let element" mat-cell> {{element.id}} </td>
    </ng-container>

    <!-- Latitude Column -->
    <ng-container matColumnDef="lat">
      <th *matHeaderCellDef mat-header-cell> Latitude</th>
      <td *matCellDef="let element" mat-cell> {{element.lat | number:'1.6'}} </td>
    </ng-container>

    <!-- Longitude Column -->
    <ng-container matColumnDef="lng">
      <th *matHeaderCellDef mat-header-cell> Longitude</th>
      <td *matCellDef="let element" mat-cell> {{element.lng | number:'1.6'}} </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="mrkdate">
      <th *matHeaderCellDef mat-header-cell> Date</th>
      <td *matCellDef="let element" mat-cell> {{element.mrkdate | date:'MMM d, y, HH:mm'}} </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr (click)="onRowClick(row)" *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<app-map></app-map>
