table {
  width: 100%;
}

.mat-radio-button ~ .mat-radio-button {
  margin: 1.2em;
}

app-map {
  margin: 0 1.6em;
}

.group {
}

mat-button-toggle {
  //box-sizing: border-box;
  //line-height: 0 !important;
}

mat-button-toggle-group {
  transition: none !important;
  box-shadow: none !important;
  //line-height: 0 !important;
  //padding: 12px 10px 10px 10px !important;
}

//mat-radio-group {
//  display: flex;
//  flex-direction: column;
//  margin: 15px 0;
//}
//
//mat-radio-button {
//  margin: 5px;
//}
