<div id="header-container">

  <mat-toolbar
    class="toolbar"
    fxLayout="row"
    fxLayoutAlign.gt-sm="start center"
    fxLayoutAlign.lt-md="center center"
  >
    <div>
      <svg-icon class="filter-red" [svgStyle]="{ 'width.px':30, 'height.px':30, 'padding-top.px':5, 'color':'#ff6347' }"
                src="assets/svg/marker.svg"></svg-icon>
    </div>

    <div class="nav-title" fxFlexOffset.sm="35" fxFlexOffset.xs="20">
      <span class="nav-title" fxHide.lt-md fxShow>
        Human Factor Training #codePIN21</span>
      <span class="nav-title" fxHide.gt-sm fxShow>
        #codePIN21</span>
    </div>

    <div fxFlex fxFlexOffset.sm="30" fxFlexOffset.xs="15">
      <a href="" target="_self">
        <button fxHide.lt-md mat-stroked-button>Map</button>
        <button color="" fxHide.gt-sm mat-mini-fab>
          <mat-icon aria-hidden="false" class="link-icon" color="primary">
            map
          </mat-icon>
        </button>
      </a>

      <a href="/table" target="_self">
        <button fxHide.lt-md mat-stroked-button>Summary</button>
        <!--<span class="nav-link">Summary</span>-->
        <button color="" fxHide.gt-sm mat-mini-fab>
          <mat-icon aria-hidden="false" class="link-icon" color="primary">
            table_chart
          </mat-icon>
        </button>
      </a>
    </div>

    <a fxHide
       fxShow.gt-sm href="https://github.com/aubique/metka" rel="noopener" target="_blank">
      <fa-icon [icon]="faGithub" class="reset-color">
      </fa-icon>
    </a>
  </mat-toolbar>
</div>
