.filter-red {
  filter: invert(28%) sepia(77%) saturate(2456%) hue-rotate(346deg) brightness(99%) contrast(85%);
}

.toolbar {
  height: 4rem;
}

button {
  margin: auto 0.2rem;
}

.nav-title {
  margin: auto 0.5rem;
}

.nav-button {
}

.nav-link {
  //color: cornsilk;
}
